.Content {
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: white;
    outline-style: groove;
    outline-color: lightblue;
    padding: 20px;
    padding-bottom: 50px;
}

.Content h2 {
    text-align: center;
    padding-bottom: 20px;
}

@media (min-width: 500px) {
  .Content {
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
    padding: 20px;
    padding-bottom: 50px;
  }
}

@media (min-width: 900px) {
  .Content {
    margin-top: 10px;
    margin-left: 54px;
    margin-right: 54px;
    background-color: white;
    padding: 20px;
    padding-bottom: 50px;
  }
}
