.Toolbar {
    height: 56px;
    width: 100%;
    position: 199; /* Always on top */
    top: 0;
    left: 0;
    background-color: #224563;
/*    background-color: #e4aa69; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Put elements next to each other */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px; /* zero from top and bottom, but 20px at left and right */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
